@import "colors/index.module";
@import "fonts/ubuntumono.css";

* {
  font-family: "Ubuntu Mono", sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
}

.App {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #232323;
  color: $greenText;
}